*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#maindiv3{
    height: 650px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
}
#maindiv3>#m1{
    height: 400px;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 10px;
    border-radius: 8px;
    /* box-shadow: 2px -3px 20px black; */
}
#maindiv3>#m1>#d1{
    height: 350px;
    width: 50%;
    background-color: white;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px;
    box-shadow: 2px 2px 20px gray;
}
#maindiv3>#m1>#d1>div{
    height: 250px;
    width: 200px;
    /* background-color: aqua; */
    box-sizing: border-box;
}
#maindiv3>#m1>#d1>div>input{
    position: relative;
    left: 7px;
    height: 30px;
    bottom: 6px;
border: none;
background-color: transparent;
border-bottom: 1px solid black;
outline: none;
color: black;
width: 170px;
font-size: 12px;
/* background-color: aqua; */
}
#ii1{
    position: relative;
    top: -2px;
    left: -5px;
}
#ii2{
    position: relative;
    top: -2px;
    left: -5px;
}
#ii3{
    position: relative;
    top: -2px;
    left: -5px;
}
#ii4{
    position: relative;
    top: -2px;
    left: -5px;
    font-size: 17px;
}
#ii5{
    position: relative;
    top: -2px;
    left: -3px;
    font-size: 17px;
}
#maindiv3>#m1>#d1>div>button{
    position: relative;
    left: 0px;
    border: 1px solid lightseagreen;
    /* box-shadow: 2px 2px 8px gray; */
    height: 30px;
    background-color: lightseagreen;
    width: 200px;
    bottom: 30px;
}
#maindiv3>#m1>#d1>div>button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

#maindiv3>#m1>#d2{
    height: 350px;
    width: 53%;
    /* background-color: white; */
    /* border: 1px solid gray; */
    margin-left:2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#maindiv3>#m1>#d2>img{
    height: 250px;
}
a>#x{
    font-size: x-large;
    position: relative;
    left: 570px;
    bottom: 183px;
    color:gray;
    transform: rotate(0deg);
}
a>#x:hover{
    color: black;
    transform: rotate(120deg);
    transition: 0.5s;
}
